<?xml version="1.0" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- H2 connection settings -->
        <!--
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:./db06</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        -->
        <!-- PostgreSQL connection settings -->
        <!-- -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/beghiber</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!-- -->
        <!--  Echo all executed SQL to stdout  -->
        <property name="show_sql">true</property>
        <!-- Use c3p0 as external connection pool  -->
        <property name="c3p0.timeout">10</property>
        <!--  Drop and re-create the database schema on startup  -->
        <property name="hbm2ddl.auto">create-drop</property>
        <mapping class="learn.beghibernate.ch06.primarykey.before.Book"/>
        <mapping class="learn.beghibernate.ch06.compoundpk.CPKBook"/>
        <mapping class="learn.beghibernate.ch06.twotables.Customer"/>
        <mapping class="learn.beghibernate.ch06.onetoone.Address"/>
        <mapping class="learn.beghibernate.ch06.onetoone.Person"/>
        <mapping class="learn.beghibernate.ch06.onetomany.Publisher"/>
        <mapping class="learn.beghibernate.ch06.onetomany.PrintedBook"/>
        <mapping class="learn.beghibernate.ch06.manytomany.RealBook"/>
        <mapping class="learn.beghibernate.ch06.manytomany.Author"/>
        <mapping class="learn.beghibernate.ch06.jpa2annot.TimeInterval"/>
    </session-factory>
</hibernate-configuration>